a {
    text-decoration: none;
    color: orange;
}

.header {
    width: auto;
    background-color: black;
    color: white;
    padding: 25px;
    margin: 10px;
    height: 100px;
}

.header-text {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: rgb(6, 17, 17);
    color: white;
    width: auto;
    height: auto;
    padding: 25px;
    margin: 10px;
    text-align: justify;
}

aside {
    background-color: rgb(31, 83, 57);
    border: 2px solid rgb(5, 5, 12);
    color: white;
    width: auto;
    height: auto;
    padding: 25px;
    margin: 10px;
    text-align: justify;
}

.aside-heading {
    color: rgb(5, 5, 12);
    border: 2px solid rgb(5, 5, 12);
    border-radius: 14px;
    padding: 4px;
    margin: 3px;
    text-align: center;
}

.footer {
    width: auto;
    background-color: black;
    color: white;
    padding: 14px;
    margin: 10px;
    height: 100px;
}

.copyright-text {
    text-align: center;
}